# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data / Models / Videos
Imitation\ Larning/data/
Imitation\ Larning/models/
Imitation\ Larning/small/
Imitation\ Larning/large/
RL/expert_ppo_lunarlander_v3.zip
RL/Screen\ Recording*.mov
RL/Screenshot*.png
Inference/lunar_lander_video.mp4


# OS files
.DS_Store
Thumbs.db


*.zip
